<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta name="description" content="{{ site.description }}">
<meta name="keywords" content="construction, development, consulting, building, infrastructure, Nigeria, Lagos, SpaceDev, Space Development Consulting Limited, Tosin Sunmonu">
<title>{% if title %}{{ title }} | {% endif %}{{ site.tagline }}</title>
<script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
<link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;600;700;900&amp;display=swap" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100..700,0..1&amp;display=swap" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&amp;display=swap" rel="stylesheet"/>
<script id="tailwind-config">
        tailwind.config = {
            darkMode: "class",
            theme: {
                extend: {
                    colors: {
                        "primary": "#c3d402",
                        "accent-sub": "#7E9C38",
                        "background-light": "#f8f8f5",
                        "background-dark": "#0A0A0A",
                    },
                    fontFamily: {
                        "display": ["Public Sans", "sans-serif"]
                    },
                    borderRadius: {
                        "DEFAULT": "0.25rem",
                        "lg": "0.5rem",
                        "xl": "0.75rem",
                        "full": "9999px"
                    },
                },
            },
        }
    </script>
<link rel="stylesheet" href="css/styles.css">
<link rel="icon" type="image/svg+xml" href="{{ site.favicon }}">
